@media (max-width: 768px) {
  .tailfeather-avatars-scrollContainer {
    display: none;
  }
}

@media (min-width: 769px) {
  .masonry-col:has(.tailfeather-avatars-scrollContainer) {
    margin-left: 5.25rem;
  }

  .post-staple-attribution {
    display: flex;
    gap: .5rem;
    align-items: center;
  }

  .tailfeather-avatars-scrollContainer {
    user-select: none;
    position: absolute;
    left: -5.25rem;
    top: 0;
    height: 100%;
  }

  .tailfeather-avatars-scrollContainer .post-author-avatar {
    width: 4rem;
    height: 4rem;
    position: sticky;
    top: 4.5rem;
  }

  .tailfeather-avatars-scrollContainer a:has(.hovercard-avatar-placeholder) {
    text-decoration: none;
    user-select: none;
  }

  .post-card:has(.tailfeather-avatars-scrollContainer) .post-staple-attribution .tf-staple-avatar,
  .post-card:has(.tailfeather-avatars-scrollContainer):not(:has(.post-staple-attribution, .chain-stapled-badge)) .post-author .post-author-avatar {
    display: none;
  }
}

.tf-chain-author-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  flex-shrink: 0;
}

[data-tf-avatars="square"] :is(.tf-staple-avatar, .post-author-avatar, .chain-addition-avatar) {
  border-radius: var(--radius-sm);
}

[data-tf-avatars="square"] :is(.tailfeather-avatars-scrollContainer .post-author-avatar) {
  border-radius: var(--radius);
}