.tf-icon {
  width: 1.5rem;
  height: 1.5rem;
}

[data-tf-icons] .post-action-btn {
  padding: unset;
}

.post-action-pinned .tailfeather-icons {
  fill: currentColor;
}

.nav-links a:has(.tailfeather-icons) {
  display: flex;
}

#nav-new-post {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.9rem;
}

.nav-logout-form {
  display: inline-flex;
  align-items: center;
}