.gp-mouse-cursor {
  height: 2.3rem;
  width: 2rem;
  position: fixed;
  z-index: 20000;
}

.gp-mouse-sprite {
  width: 100%;
}

[data-gp-mouse-highlighted] {
  outline: 2px solid var(--accent) !important;
  outline-offset: 1px;
  border-radius: var(--radius);
}