#tumblr:has(.postFinder-dialog[open]) {
  overflow: hidden;
}

.postFinder-button {
  cursor: pointer;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--radius);
  color: var(--accent);
  background-color: var(--bg);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  z-index: 50;
}

.postFinder-title {
  display: none;
}

@media (min-width: 1076px) {
  .postFinder-button {
    bottom: 2rem;
    left: 2rem;
  }

  .postFinder-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
}

@media (min-width: 1920px) {
  .postFinder-button {
    bottom: 4rem;
    left: 4rem;
  }
}

.postFinder-dialog {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 1.5rem;
  background-color: rgb(0 0 0 / 0.08);
  padding: 4rem;
  margin: 0;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
}

.postFinder-dialog[open] {
  display: flex;
}

.postFinder-container {
  min-width: 360px;
  max-width: calc(100vw - 3rem);
  border-radius: var(--radius);
  background-color: var(--bg-surface);
  padding: 0.75rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 990px) {
  .postFinder-container {
    max-width: calc(100vw - 8rem);
    min-width: 400px;
  }
}

.postFinder-titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.postFinder-close {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.postFinder-searchRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.postFinder-searchRow [data-state] {
  width: 24px;
  height: 24px;
}

.postFinder-searchRow [data-state] svg {
  transition: all 0.3s;
}

.postFinder-searchRow [data-state="open"] svg {
  color: var(--accent);
}

.postFinder-search {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.5rem 0.25rem;
}

.postFinder-search:disabled {
  background-color: color-mix(in srgb, var(--bg-input), black 13%)
}

.postFinder-search:focus-visible {
  outline: 1px solid var(--accent);
  border: 1px solid var(--accent);
}

#postFinder-defaultSearch {
  flex-grow: 1;
}

#postFinder-advanced {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

#postFinder-advanced :is(h3, label, button) {
  font-weight: bold;
}

#postFinder-advanced>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postFinder-pagination {
  width: fit-content;
  margin: auto;
}

#postFinder-advanced-submit,
.postFinder-pagination {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: var(--radius);
  background-color: var(--accent);
}

#postFinder-advanced-submit:hover,
#postFinder-advanced-submit:active,
.postFinder-pagination:hover,
.postFinder-pagination:active {
  filter: brightness(0.9);
}

#postFinder-advanced-submit:disabled {
  filter: grayscale(0.6);
}

.postFinder-placeholder {
  display: none;
}

.postFinder-placeholder:has(+ #postFinder-results:empty) {
  display: block;
}

#postFinder-results {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 0;
  gap: 0.5rem;
}

#postFinder-results:empty {
  display: none;
}

.postFinder-result {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--border);
  list-style-type: none;
  cursor: pointer;
}

.postFinder-result:first-of-type {
  border: none;
}

.postFinder-info,
.postFinder-blog,
.postFinder-blog>* {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: bold;
}

.postFinder-blog {
  flex-grow: 1;
}

.postFinder-types {
  width: 48px;
  max-height: 48px;
  overflow: hidden;
  display: flex;
  flex-flow: row-reverse wrap;
}

.postFinder-post {
  border-left: 2px solid var(--border);
  padding-left: 0.5rem;
  font-style: italic;
}

.postFinder-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  font-style: italic;
  opacity: 0.6;
}

.postFinder-link {
  opacity: 0.6;
}