/* global styles */

/* custom icons (used for both customIcons and compactNav) */

.tailfeather-icons {
  width: 1.5rem;
  height: 1.5rem;
}

:is(.nav-row-left, .nav-row-right, .post-actions) :is(a, button):has(.tailfeather-icons) {
  font-size: 0;
  display: flex;
}

.nav-container:has(.tailfeather-icons) :is(.nav-row-left, .nav-row-right) {
  gap: 1rem;

  .tailfeather-icons {
    transition: color 0.15s;
  }

  >a {
    padding: .25rem;
  }

  :is(.notif-bell, .nav-inbox) svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.5;
  }
}

[data-tf-icons] .post-action-btn {
  padding: unset;
}

.post-action-pinned .tailfeather-icons {
  fill: currentColor;
}

#nav-new-post:has(.tailfeather-icons) {
  font-size: 0;
  padding: 0.25rem 0.9rem;
}